/* Global */
:root {
    /* Color */
    /* #E8EAF6 #C5CAE9 #9FA8DA #7986CB #5C6BC0 #3F51B5 #3949AB #303F9F #283593 #1A237E #8C9EFF #536DFE #3D5AFE #304FFE */
    --color-white: #ffffff;
    --color-light-white: #E8EAF6;
    --color-dark-blue: #1A237E;
    --color-light-blue: #5C6BC0;
    --color-blue: #3F51B5;
    --color-black: black;
    --color-dark-gray: #4d4d4d;
    --color-gray: #616161;
    --color-light-gray: #94999d;
    --color-light-pink: #d6b8d9;
    --color-orange: #e44d26;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;


    /* Size */
    --size-border-radius: 5px;

    /* Animation */
    --animation-duration : 300ms;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0;
}
.title {
    color: var(--color-black);
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Nav */
#nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 18px 14px;
    color: var(--color-blue);
    font-weight: var(--weight-bold);
    transition: all var(--animation-duration) ease;
}

.nav_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold)
}

.nav_menu {
    display: flex;
}

.nav_menu_item {
    border-radius: var(--size-border-radius);
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
}


.nav_menu_item:hover {
    border: 1px solid var(--color-white);
}

#nav.nav_dark .nav_menu_item:hover {
    background-color: var(--color-blue);
}

.nav_toggle_btn {
    display: none;
    position: absolute;
    top: 22px;
    right: 16px;
    font-size: 24px;
    color: var(--color-white);
}

/* Home */
#home {
    background: url("../img/home_bg.png") center/cover no-repeat;
    padding: 100px 40px;
    text-align: center;
}

#home .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

#home .home_contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* section */
.section {
    padding: 50px 50px 66px 50px;
    text-align: center;
    margin: 0 auto;
}

.section_container {
    max-width: 1200px;
    margin: 0 auto;
}

.about_majors {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.major {
    width: 25%;
}
.major_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    color: var(--color-light-blue);
    background-color: #fff;
    margin: 16px auto;
    border: 1px solid var(--color-dark-blue);
    border-radius: 50%;
}
.major_icon i {
    transition: all var(--animation-duration) ease;
}

.major_icon i:hover {
    color: var(--color-dark-blue);
    transform: rotate(-10deg) scale(1.1);
}

.major_title,.major_desc {
    color: var(--color-dark-gray);
}

.major_desc {
    font-size: var(--font-micro);
}

/* Skill */
#skills { 
    background-color: var(--color-light-white);
}

#skills .skill_tit{
    color: var(--color-light-white);
}

.skill {
    margin-bottom: 32px;
}
.skillset {
    display: flex;
    background-color: var(--color-light-gray);
    color: var(--color-light-white);
}

.skillset_left {
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding: 20px 40px;
}

.skill_desc {
    display: flex;
    justify-content: space-between;
}

.skill_bar {
    border-radius: var(--size-border-radius);
    width: 100%;
    height: 4px;
    background-color: var(--color-light-gray);
}

.skill_value {
    border-radius: var(--size-border-radius);
    width: 70%;
    height: 4px;
    background-color: var(--color-light-blue);
}

.skillset_right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-gray);
}

.tools,.etc {
    padding: 20px;
}

.etc_list {
    line-height: 50px;
}

/* Work */

.work_categories {
    margin: 40px;
}


.category_btn {
    border: 1px solid var(--color-dark-gray);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category_btn:active .category_count,
.category_btn:hover .category_count {
    opacity: 1;
    top: 0;
}


.category_btn.active,
.category_btn:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-light-white);
}

.category_count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 22px;
    width: 24px;
    height: 24px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition:all var(--animation-duration) ease-in;
}

.work_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all var(--animation-duration) ease-out;
}

.work_projects.animate{
    opacity: 0.6;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project.on {
    display: none;
}

.project .project_img {
    max-width: 100%;
    max-height: 100%;
}

.project_desc {
    position: absolute;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--animation-duration) ease;
}

.project_desc h3 {
    color: var(--color-orange);
}

.project_desc span {color: var(--color-white);}

.project:hover .project_desc {
    transform: translateY(0);
    opacity: .8;
}

.project_desc h3::after {
    content: '';
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin: 8px 0;
    background-color: var(--color-light-white);
    display: block;
}

#contact {
    background-color: var(--color-dark-blue);
}

#contact .title,
.contact_email,
.contact_links,
.contact_right {
    color: var(--color-light-white);
}

#contact .title {
    margin: 32px 0;
}

.contact_links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact_links i:hover {
    transform: scale(1.1);
    color: var(--color-black);
}

.scrolltop {
    opacity: 0;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    line-height: 20px;
    border-radius: 50%;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: all var(--animation-duration) ease-in;
    pointer-events: none;
}

.scrolltop.on {
    opacity: 1;
    pointer-events: auto;
}

/* 반응형 */
@media screen and (max-width: 768px) {
    .nav_toggle_btn {
        display: block;
    }

    #nav.nav_dark {
        background-color: var(--color-dark-blue);
        color: var(--color-white);
        padding: 16px;
        z-index: 10;
    }

    .nav_logo {
        color: var(--color-white);
    }

    #nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-blue);
    }

    .nav_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .nav_menu .nav_menu_item {
       color: var(--color-white);
    }

    .nav_menu.on {
        display: block;
    }

    .about_majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        margin-bottom: 38px;
    }

    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }
    

    .work_categories {
        display: flex;
        margin: 40px 0;
        justify-content: space-between;
    }
    .category_btn {
        padding: 0;
        flex-basis: 25%;
        
    }
}