/* Global */
:root {
    /* Color */
    /* #E8EAF6 #C5CAE9 #9FA8DA #7986CB #5C6BC0 #3F51B5 #3949AB #303F9F #283593 #1A237E #8C9EFF #536DFE #3D5AFE #304FFE */
    --color-white: #ffffff;
    --color-light-white: #E8EAF6;
    --color-dark-blue: #1A237E;
    --color-light-blue: #5C6BC0;
    --color-blue: #3F51B5;
    --color-black: #35383d;
    --color-dark-gray: #4d4d4d;
    --color-gray: #616161;
    --color-light-gray: #94999d;
    --color-light-pink: #d6b8d9;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;


    /* Size */
    --size-border-radius: 5px;

    /* Animation */
    --animation-duration : 300ms;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0;
}
.title {
    color: var(--color-black);
}
h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Nav */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding: 18px 14px;
}

.nav_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold)
}

.nav_menu {
    display: flex;
}

.nav_menu_item {
    border-radius: var(--size-border-radius);
    padding: 8px 12px;
    margin: 0 4px;
}

.nav_menu_item.on {
    border: 1px solid #fff;
}

.nav_menu_item:hover {
    background-color: var(--color-blue);
}

/* Home */
#home {
    background: url("../img/home_bg.png") center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

#home .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

#home .home_contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* section */
.section {
    padding: 50px 50px 66px 50px;
    text-align: center;
    margin: 0 auto;
}

.section_container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(to bottom,var(--color-white),var(--color-white),var(--color-light-white));
}

.about_majors {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.major_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    color: var(--color-light-blue);
    background-color: #fff;
    margin: 16px auto;
    border: 1px solid var(--color-dark-blue);
    border-radius: 50%;
}
.major_icon i {
    transition: all var(--animation-duration) ease;
}

.major_icon i:hover {
    color: var(--color-dark-blue);
    transform: rotate(-10deg) scale(1.1);
}

.major_title,.major_desc {
    color: var(--color-dark-gray);
}

.major_desc {
    font-size: var(--font-micro);
    width: 300px;
}

/* Skill */
#skills { 
    background-color: var(--color-light-white);
}

#skills .skill_tit{
    color: var(--color-light-white);
}

.skill {
    margin-bottom: 32px;
}
.skillset {
    display: flex;
    background-color: var(--color-light-gray);
    color: var(--color-light-white);
}

.skillset_left {
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding: 20px 40px;
}

.skill_desc {
    display: flex;
    justify-content: space-between;
}

.skill_bar {
    border-radius: 4px;
    width: 100%;
    height: 4px;
    background-color: var(--color-light-gray);
}

.skill_value {
    border-radius: 4px;
    width: 70%;
    height: 4px;
    background-color: var(--color-light-blue);
}

.skillset_right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-gray);
}

.tools,.etc {
    padding: 20px;
}

.etc_list {
    line-height: 50px;
}

/* Work */
